body {
  background: grey;
  color: #333333;
  margin-top: 5rem;
}
li {
    list-style-type: none;
}

ul{
   border:  2px solid #cbd5db;
    padding: 3px;
    text-align: center;
}
img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
h1 {
  color: white;
    text-align: center;
}
h2 {
  color: #444444;
    text-align: center;
}

.bg-steel {
  background-color: #5f788a;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

